.div-1 {
    background-color:rgb(196, 255, 205);
    color: rgb(212, 35, 35);
    front-size: 76px;
    front-weight: bold;
}
.test1{
    color:red;
}
.test2{
    color:blue;
}
.test3{
    color:blueviolet;
}